{% extends "alt_nav.html" %}
{% block content %}
<h2>Login</h2>
<div class="form-layout">
    <form action="/login", method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="4">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
        <a href="/signup" class="text-center">Sign Up</a>
    </form> 
</div>
{% endblock %}
