<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hide My Secret Sauce</title>
    <link rel="stylesheet" type="text/css" href="{{ static_file }}"/>
</head>
<body>
    <p>Sign Up</p>
    <div class="login">
        <form action="/signup", method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" size="30">
            <br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" maxlength="4">
            <br><br>
            <input type="submit" id="Sign Up" value="Sign Up">
            <a href="/login">Login</a>
        </form>
    </div>
</body>
</html>
