@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

p {
    text-align: center;
    font-size: 50px;
    font-family: 'Caveat';
}

body {
    background-color: orange;
}

form {
    display: flex;
    flex-direction: column;
}

button {
  margin: 12px;
  font-size: 24px;
  border-radius: 4px;
}

#qrcode {
  height: 256px;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-align: center;
  background-color: #ffb030;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.login {
    margin: auto;
    justify-content: center;
    display: flex;
}

.twofa {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
